<ion-item lines="full">
  <main>
    <div class="n-container">
      <div class="n-title">
        <ion-lable>{{savedNote.title}}</ion-lable>
      </div>
      <div class="n-preview">
        <h6>{{(savedNote.body).substring(1,20)}}</h6>
      </div>
      <div class="date-container">
        <div class="date-create">
          <h6>Date Created: {{ savedNote.dateCreated.getDate()}}/{{ savedNote.dateCreated.getMonth() + 1}}/{{ savedNote.dateCreated.getFullYear()}}</h6>
        </div>
        <div class="date-mod" *ngIf= "isNoteModified()">
          <h6>Last Modified: {{ savedNote.dateModified.getDate()}}/{{ savedNote.dateModified.getMonth() + 1}}/{{ savedNote.dateModified.getFullYear()}}</h6>
        </div>
      </div>

    </div>
  </main>
</ion-item>
